<div class="container">
    <h3>your cart</h3>
    <br>
    <div class="row">
        <p style="color:Red" ng-show="cartEmpty">your cart is empty. shop from our catalog below.</p>
        <div ng-show="!cartEmpty" >
            <table class="table table-responsive table-striped table-bordered">
                <tr>
                    <th>name</th>
                    <th>quantity</th>
                    <th>unit price</th>
                    <th>subtotal</th>
                </tr>
                <tr ng-repeat="order in currentOrder">
                    <td>{{order.product.name}}</td>
                    <td>{{order.quantity}}</td>
                    <td><i class="fa fa-inr"></i> {{order.product.price}}</td>
                    <td><i class="fa fa-inr"></i> {{order.price}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>total</b></td>
                    <td><i class="fa fa-inr"></i> {{cartAmount}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>tax @10%</b></td>
                    <td><i class="fa fa-inr"></i> {{taxAmount}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>grand</b></td>
                    <td><i class="fa fa-inr"></i> {{grandTotal}}</td>
                </tr>
            </table>
        </div>
    </div>

    <hr>
    <h3>our catalog</h3>
    <br>

    <div class="row">
        <div class="product_card col-sm-3" ng-repeat="product in products">
            <div class="card">
                <div class="card-content">
                    <center><img class="products img-responsive" ng-src="{{product.image}}"></center>
                    <table class="catalog_table table table-responsive table-borderless">
                        <tr>
                            <td>name:</td>
                            <td>{{product.name}}</td>
                        </tr>
                        <tr>
                            <td>description:</td>
                            <td>{{product.description}}</td>
                        </tr>
                        <tr>
                            <td>available:</td>
                            <td>{{product.inStock}}</td>
                        </tr>
                        <tr>
                            <td>price:</td>
                            <td><i class="fa fa-inr"></i> {{product.price}}</td>
                        </tr>
                    </table>
                    <center>
                        <div style="margin-bottom:10px;padding:10px;">
                            <button class="btn btn-info" ng-click="addProduct(chosenQuantity,product)"
                                    style="width:48%;float:right;">add
                            </button>
                            <input class="form-control" type="number" placeholder="qty" ng-model="chosenQuantity"
                                   name="item_qty" style="float:left; width:48%;">
                        </div>
                    </center>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
</div>
