<div class="ngdialog-message">
    <div class="">
        <h3>shipping details </h3>
    </div>

    <div class="">
        <form ng-submit="doPay()", name="addressForm">
            <div class="form-group">
                <label class="sr-only" for="name">name</label>
                <input type="text" class="form-control input-sm" id="name" placeholder="name"
                       ng-model="deliveryData.name" required>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="sr-only" for="address_1">address line 1</label>
                    <input type="text" class="form-control input-sm" id="address_1" placeholder="address_1"
                           ng-model="deliveryData.address_1" required>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="address_2">address line 2</label>
                    <input type="text" class="form-control input-sm" id="address_2" placeholder="address_2"
                           ng-model="deliveryData.address_2" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="city">city</label>
                    <input type="text" class="form-control input-sm" id="city" placeholder="city"
                           ng-model="deliveryData.city" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="pincode">pincode</label>
                    <input type="text" class="form-control input-sm" id="pincode" placeholder="pincode"
                           ng-model="deliveryData.pincode" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="state">state</label>
                    <input type="text" class="form-control input-sm" id="state" placeholder="state"
                           ng-model="deliveryData.state" required>
                </div>

                <p style="color:red;" ng-show="!paid && !firstTime">some error happended, try again</p>
                <p style="color:green;" ng-show="paid && !firstTime">payment successful</p>
                <button type="submit" class="btn btn-info btn-sm" ng-disabled="addressForm.$invalid">pay now</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>cancel</button>
                &nbsp; &nbsp;
            </div>
        </form>
    </div>
    <div>

    </div>
</div>
