<div class="container">
    <div class="row row-content">
        <h3>our clientele</h3>
        <br>
        <div class="row" >
            <div class="col-sm-3" ng-repeat="client in clients">
                <div class="card">
                    <div class="card-content">
                        <center><img class="clientele img-responsive img-circle" ng-src="{{client.image}}"></center>
                    </div>
                    <div class="card-header">
                        <center><h4>{{client._id}}</h4></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
